<%- include('../header'); %>
<style>
    #pages{width:100%;border-collapse: collapse;}
    #pages th, #pages td{padding:5px;border:1px solid grey;}
</style>
<h1 style="text-align: center;">Кабинет</h1>
<div id='vue'>
    <table id='pages'>
        <thead>
            <tr><th>ID</th><th>Title</th><th>Text</th></tr>
        </thead>
        <tbody>
            <tr v-for='(page, idx) in pages'>
                <td><a :href="'/p/'+page.id" target="_blank">{{page.id}}</a></td>
                <td><a :href="'/p/'+page.id" target="_blank">{{page.title}}</a></td>
                <td>{{page.showMore ? page.text : page.text.substr(0,100)}}...<a href='#' @click.prevent="showMore(idx)">more</a></td>
            </tr>
        </tbody>
    </table>
</div>
<% include('../footer'); %>
<script src='/files/js/vue.min.js'></script>
<script>
    var vue = new Vue({
        el: '#vue',
        data: {
            pages: []
        },
        created: function() {
            this.getPages()
        },
        methods: {
            getPages: async function () {
                const res = await fetch('/adminka/post', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json;charset=utf-8' },
                    body: JSON.stringify({cmd: 'getPages'})
                })
                this.pages = await res.json();
                for (let key in this.pages)
                    this.pages[key].showMore = false;
            },
            showMore: function (idx) {
                this.pages[idx].showMore = !this.pages[idx].showMore
                this.$forceUpdate();
            }
        }
    })
</script>